<html>
  <head>
    <title>Assignment </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>
  <body>
    <h1 class="navbar navbar-expand-lg navbar-light bg-dark" style="color: white;">Assignment 4 </h1>
    <button class="btn btn-dark" (click)="getProducts()" style="margin-right: 100px;">Get Products list</button>
    <button class="btn btn-primary butt" (click)="addProducts()" style="float: right;">Add Product</button>

    <br>
    <br>
    <div class="table-container">
      <div *ngIf="bAddProduct==true" class="options">
        <input #id class="form-control" type="number" placeholder="Search by Id" style="margin-right: 70px;" (keyup)="searchId(parseInt(id.value))"> 
        <!-- <input #name class="form-control" type="text" placeholder="Search by Name" style="margin-right: 140px;" (keyup)="searchName(name.value)"> -->
        
      </div>

      <div *ngIf="bSaveProduct==true" class="options">
        <input class="form-control" #productId type="number" placeholder="Product Id" style="margin-right: 70px;"> 
        <input class="form-control" #productName type="test" placeholder="Product Name" style="margin-right: 140px;"> 
        <input class="form-control" #productCost type="number" placeholder="Product Cost" style="margin-right: 70px;">
        <button class="btn btn-info" (click)="saveProduct(parseInt(productId.value),productName.value,parseInt(productCost.value))">Add</button> 
      </div>

      <div *ngIf="bEditProduct==true" class="options">
        <input class="form-control" type="number" placeholder="Product Id" style="margin-right: 70px;"> 
        <input class="form-control" type="test" placeholder="Product Name" style="margin-right: 140px;"> 
        <input class="form-control" type="number" placeholder="Product Cost" style="margin-right: 70px;">
        <button class="btn btn-success" (click)="saveProductOfEdit()">Update</button> 
      </div>
      <br>
      <table class="table table-dark table-striped">
        <thead class="table-dark back">
          <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Rating</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of ProductList">
            <td>{{product.ProductId}}</td>
            <td>{{product.ProductName}}</td>
            <td>{{product.ProductCost | currency : 'INR'}}</td>
            <td>5</td>
            <td>
              <div class="actions">
                <div class="delete">
                  <button class="btn btn-danger" (click)="deleteProduct(product.ProductId)">Delete</button>
                
                
                  <button class="btn btn-warning" (click)="editProduct(product.ProductId, product.ProductName, product.ProductCost)">Edit</button>
               </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </body>
</html>